{% extends 'master' %}

{% block content %}

  <div>
    <a href="posts/create" class="btn btn-success btn-block"> Registrar um novo livro </a>
    <hr>
  </div>
  <div class="posts-wrapper">
    {% for post in livros %} 
      <div class="post">
        <h2><a href="posts/{{ post.id }}"> {{ post.title }} </a></h2>
        <h4> {{ post.author }} </h4> 
        <p> {{ post.content | truncate(150) }} </p>
      </div>
      {% else %}
        <h2> Nenhum livro registrado até o momento </h2>
    {% endfor %}
  </div>
{% endblock %}